* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    font-size: 16px;
    color: #FDFDFD;
}

body {
    height: 100%;
    min-height: 100%;
    background-color: color-mix(in srgb, #00FF80 8%, #2C2C2C);
}

#navigator {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0;
    list-style: none;
}

#navigator li {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

#navigator a {
    text-decoration: none;
}